@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Set Colour Scheme **********************************************************/
:root {
  --col1: #145753;
  --col2: #336a8a;
  --col3: #ff4a08;
  --col4: #ff8959;
  --col5: #ffc1a8;
}

/* Generic Elements ***********************************************************/
body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  line-height: 1.9em;
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto 12em auto;
  overflow-y: scroll;
}

strong {
  font-weight: 600;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul > li::after, ul > li::before {
  content: '\2022';
  margin: 0 0.5em;
  color: var(--col5);
}

h1 {
  display: block;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--col1);
}

h1::after, h1::before {
  content: "~";
  margin: 0 0.5em;
  color: var(--col4);
}


/* Special Cases **************************************************************/
ul.navList > li::after, ul.navList > li::before {
  content: "";
  margin: 0;
}

h1:nth-child(1)::after, h1:nth-child(1)::before {
  content: "";
  margin: 0;
}



img.profile {
  width: 60vw;
  max-width: 250px;
  border-radius: 50%;
}


/* Page Head  *****************************************************************/
.pageHead {
  z-index: 5;
  position: fixed;
  display: flex;
  left: 0.5;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
  height: 3em;
  font-weight: 200;
}

.pageHead::before {
  content: "";
  height: 3em;
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
  background-color: var(--col5);
}

.pagePad {
  content: "";
  height: 4.5em;
}

/* Navigation Menu ************************************************************/
.navLink {
  color: blue;
  text-decoration: none;
  transition: 0.6s;
}

.navLink:hover {
  color: green;
  transition: 0.3s;
}

.iconContainer {
  display: inline-block;
  margin-top: 0.5em;
}

.fa {
  margin: 0 0.25em;
  font-size: 22px !important;
}


/* Desktop tweaks  ************************************************************/
.deskOnly {
  display: none;
}

.mobOnly {
  display: inline;
}

@media only screen and (min-width: 520px) {
  body {
    max-width: 800px;
  }

  .pageHead {
    max-width: 800px;
  }

  .deskOnly {
    display: inline;
  }

  .mobOnly {
    display: none;
  }
}
